
@import '~antd/dist/antd.css';

h4 {
  color: white;
  font-weight: bold
}



.Login-input{
  margin: 15px;
  width: 400px;
}


.Sign .Login-input{
  width: 250px;
}



.sourceMenu{
  display: flex;
  justify-content: center;

}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.logos {
  max-height: 25px;
  max-width: 60px;
}

.drapeau {
  height: 25px;
  width: 60px;
}

.modal {
  width: 50vw;
}

.imgModal {
  width: 100%;
}

